demo.sap.com/bpm3/_comp/src/wsdl/Entrada_In.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:KFC_I_SYSTEMB:bpm:entrada" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Entrada_In" targetNamespace="urn:KFC_I_SYSTEMB:bpm:entrada">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>6fd891d4d09111eb951500000046f7c6</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="administrator"/>
      <changed by="administrator" on="1624060996553"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:xms:application:xip"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="a742e05e010630baaaad7657594006be"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="Entrada_In">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>true</ifw:isInbound>
        <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="EntradaRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">EntradaRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEMB:bpm:entrada</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEMB:bpm:entrada</ifw:technicalNamespace>
        <ifw:VersionID>32bad1cdd09111ebbc6b00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEMB:bpm:entrada</ifw:xmlNamespace>
        <ifw:dataType name="EntradaReq" namespace="urn:KFC_I_SYSTEMB:bpm:entrada" swcvId="d03fe080d08f11eb9105f19cc0a88d08" uri="name=EntradaReq~namespace=urn:KFC_I_SYSTEMB:bpm:entrada~swcvId=d03fe080d08f11eb9105f19cc0a88d08"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>d03fe080d08f11eb9105f19cc0a88d08</ifw:guid>
        <ifw:name>KFC_I_SYSTEMB, 1 of kfc.com.ec</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_a742e05e010630baaaad7657594006be_ifmmessif</name>
        <namespace>urn:KFC_I_SYSTEMB:bpm:entrada</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_Entrada_In"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:KFC_I_SYSTEMB:bpm:entrada" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:KFC_I_SYSTEMB:bpm:entrada">
      <xsd:element name="EntradaRequest" type="EntradaReq"/>
      <xsd:complexType name="EntradaReq">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="File" type="xsd:string"/>
          <xsd:element name="Recordset">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Items">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Row1" type="xsd:string"/>
                      <xsd:element name="Row2" type="xsd:string"/>
                      <xsd:element name="Row3" type="xsd:string"/>
                      <xsd:element name="Row4" type="xsd:string"/>
                      <xsd:element name="Row5" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EntradaRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:EntradaRequest" name="EntradaRequest"/>
  </wsdl:message>
  <wsdl:portType name="Entrada_In">
    <wsdl:documentation/>
    <wsdl:operation name="Entrada_In">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_Entrada_In"/>
      </wsp:Policy>
      <wsdl:input message="p1:EntradaRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Entrada_InBinding" type="p1:Entrada_In">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Entrada_In">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
