demo.kfc.com.ec/calc_01/_comp/src/wsdl/CalcBPM_In.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CalcBPM_In" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>b8b2985bc7e811eb863500000046f7c6</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="administrator"/>
      <changed by="administrator" on="1623108914620"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:server:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="4b6fdfd8d222312abdc5d75f0cabf707"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="CalcBPM_Sync">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>true</ifw:isInbound>
        <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="CalcBPMRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">CalcBPMRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:technicalNamespace>
        <ifw:VersionID>ba2d149ec7e811eb813a00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:xmlNamespace>
        <ifw:dataType name="CalcBPM" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=CalcBPM~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
      <ifw:message name="CalcBPMResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">CalcBPMResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:technicalNamespace>
        <ifw:VersionID>bae41de2c7e811eb8c5b00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:xmlNamespace>
        <ifw:dataType name="CalcBPMRes" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=CalcBPMRes~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>8dea1a50b83111eba1c8f19cc0a88d08</ifw:guid>
        <ifw:name>KFC_I_SYSTEM_C01_CALCULATOR, 1 of kfc.com.ec</ifw:name>
      </ifw:swcvinfo>
      <ifw:folder>
        <ifw:guid>b34bb050c7e811eb979100000046f7c6</ifw:guid>
      </ifw:folder>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_4b6fdfd8d222312abdc5d75f0cabf707_ifmmessif</name>
        <namespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_CalcBPM_Sync"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm">
      <xsd:element name="CalcBPMResponse" type="CalcBPMRes"/>
      <xsd:element name="CalcBPMRequest" type="CalcBPM"/>
      <xsd:complexType name="CalcBPMRes">
        <xsd:sequence>
          <xsd:element name="ResultAdd" type="xsd:integer"/>
          <xsd:element name="ResultSub" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CalcBPM">
        <xsd:sequence>
          <xsd:element name="Oper1" type="xsd:integer"/>
          <xsd:element name="Oper2" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalcBPMRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:CalcBPMRequest" name="CalcBPMRequest"/>
  </wsdl:message>
  <wsdl:message name="CalcBPMResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:CalcBPMResponse" name="CalcBPMResponse"/>
  </wsdl:message>
  <wsdl:portType name="CalcBPM_In">
    <wsdl:documentation/>
    <wsdl:operation name="CalcBPM_Sync">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_CalcBPM_Sync"/>
      </wsp:Policy>
      <wsdl:input message="p1:CalcBPMRequest"/>
      <wsdl:output message="p1:CalcBPMResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcBPM_InBinding" type="p1:CalcBPM_In">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CalcBPM_Sync">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
