demo.kfc.com.ec/calc_01/_comp/src/wsdl/Calc_Out.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Calc_Out" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>7e435da6c7e911eb93f900000046f7c6</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="administrator"/>
      <changed by="administrator" on="1623109474966"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="1beab6d29bdf349da8c412cee7e407c9"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="CalcAdd_Sync">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
      <ifw:method name="CalcSub_Sync">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="CalcSubRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">CalcSubRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:technicalNamespace>
        <ifw:VersionID>c3343a45c7e911eb83ac00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:xmlNamespace>
        <ifw:dataType name="CalcReq" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=CalcReq~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
      <ifw:message name="CalcAddRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">CalcAddRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:technicalNamespace>
        <ifw:VersionID>b86444afc7e911ebabcc00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:xmlNamespace>
        <ifw:dataType name="CalcReq" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=CalcReq~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
      <ifw:message name="CalcResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">CalcResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:technicalNamespace>
        <ifw:VersionID>d006e350c7e911ebc1ea00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</ifw:xmlNamespace>
        <ifw:dataType name="CalcRes" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=CalcRes~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>8dea1a50b83111eba1c8f19cc0a88d08</ifw:guid>
        <ifw:name>KFC_I_SYSTEM_C01_CALCULATOR, 1 of kfc.com.ec</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_1beab6d29bdf349da8c412cee7e407c9_ifmmessif</name>
        <namespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_CalcAdd_Sync"/>
  <wsp:Policy wsu:Id="OP_CalcSub_Sync"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calc:bpm">
      <xsd:element name="CalcResponse" type="CalcRes"/>
      <xsd:element name="CalcAddRequest" type="CalcReq"/>
      <xsd:element name="CalcSubRequest" type="CalcReq"/>
      <xsd:complexType name="CalcReq">
        <xsd:sequence>
          <xsd:element name="A" type="xsd:integer"/>
          <xsd:element name="B" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CalcRes">
        <xsd:sequence>
          <xsd:element name="Result" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalcAddRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:CalcAddRequest" name="CalcAddRequest"/>
  </wsdl:message>
  <wsdl:message name="CalcSubRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:CalcSubRequest" name="CalcSubRequest"/>
  </wsdl:message>
  <wsdl:message name="CalcResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:CalcResponse" name="CalcResponse"/>
  </wsdl:message>
  <wsdl:portType name="Calc_Out">
    <wsdl:documentation/>
    <wsdl:operation name="CalcAdd_Sync">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_CalcAdd_Sync"/>
      </wsp:Policy>
      <wsdl:input message="p1:CalcAddRequest"/>
      <wsdl:output message="p1:CalcResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CalcSub_Sync">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_CalcSub_Sync"/>
      </wsp:Policy>
      <wsdl:input message="p1:CalcSubRequest"/>
      <wsdl:output message="p1:CalcResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Calc_OutBinding" type="p1:Calc_Out">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CalcAdd_Sync">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcSub_Sync">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
