demo.kfc.com.ec/bpm2/_comp/rep/ui/com.demo.sap.com.glx.wdcomp.testcomponent.TestComponentInterface.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://demo.sap.com/testwd/TestComponent" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://demo.sap.com/testwd/TestComponent"><xsd:complexType name="Context"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="DO_BPM2Req" type="Context_DO_BPM2Req"/><xsd:element maxOccurs="1" minOccurs="1" name="DO_TiempoRes" type="Context_DO_TiempoRes"/><xsd:element maxOccurs="1" minOccurs="1" name="DO_GoogleRes" type="Context_DO_GoogleRes"/></xsd:sequence></xsd:complexType><xsd:complexType name="Context_DO_BPM2Req"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="log" type="xsd:boolean"/><xsd:element maxOccurs="1" minOccurs="0" name="Ciudad" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:complexType name="Context_DO_TiempoRes"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="country" type="xsd:string"/><xsd:element maxOccurs="1" minOccurs="0" name="wind_mph" type="xsd:decimal"/><xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/><xsd:element maxOccurs="1" minOccurs="0" name="humidity" type="xsd:decimal"/><xsd:element maxOccurs="1" minOccurs="0" name="lon" type="xsd:decimal"/><xsd:element maxOccurs="1" minOccurs="0" name="region" type="xsd:string"/><xsd:element maxOccurs="1" minOccurs="0" name="temp_c" type="xsd:decimal"/><xsd:element maxOccurs="1" minOccurs="0" name="lat" type="xsd:decimal"/><xsd:element maxOccurs="1" minOccurs="0" name="temp_f" type="xsd:decimal"/><xsd:element maxOccurs="1" minOccurs="0" name="precip_mm" type="xsd:decimal"/></xsd:sequence></xsd:complexType><xsd:complexType name="Context_DO_GoogleRes"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="Alt" type="xsd:decimal"/></xsd:sequence></xsd:complexType></xsd:schema>