demo.kfc.com.ec/bpm2/_comp/rep/ui/com.demo.sap.com.glx.wdcomp.testcomponent.TestComponentInterface.ports.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://demo.sap.com/testwd/TestComponent/ports" xmlns:data="http://demo.sap.com/testwd/TestComponent" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://demo.sap.com/testwd/TestComponent/ports"><xsd:import namespace="http://demo.sap.com/testwd/TestComponent" schemaLocation="com.demo.sap.com.glx.wdcomp.testcomponent.TestComponentInterface.xsd"/><xsd:element name="ContextElementINPUT" type="ContextTypeINPUT"><xsd:annotation><xsd:appinfo>START_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="ContextTypeINPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="Context" type="data:Context"/></xsd:sequence></xsd:complexType><xsd:element name="TestCompleteEventElementOUTPUT" type="TestCompleteEventTypeOUTPUT"><xsd:annotation><xsd:appinfo>END_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="TestCompleteEventTypeOUTPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="TestCompleteEvent" type="data:Context"/></xsd:sequence></xsd:complexType><xsd:element name="TestErrorEventElementOUTPUT" type="TestErrorEventTypeOUTPUT"><xsd:annotation><xsd:appinfo>END_POINT</xsd:appinfo></xsd:annotation></xsd:element><xsd:complexType name="TestErrorEventTypeOUTPUT"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="TestErrorEvent" type="data:Context"/></xsd:sequence></xsd:complexType></xsd:schema>