demo.kfc.com.ec/bpm2/_comp/src/wsdl/BPM2_In.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BPM2_In" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>ed4ef4c3c97b11ebbd6000000046f7c6</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="administrator"/>
      <changed by="administrator" on="1623282159130"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:server:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="a90d4f7664a83d71a37ec54c4094e608"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="BPM2_Sync">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>true</ifw:isInbound>
        <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="BPM2Request">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">BPM2Request</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2</ifw:technicalNamespace>
        <ifw:VersionID>bd520ef0c97b11eb964800000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2</ifw:xmlNamespace>
        <ifw:dataType name="BPM2Req" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=BPM2Req~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
      <ifw:message name="BPM2Response">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">BPM2Response</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2</ifw:technicalNamespace>
        <ifw:VersionID>ca74d84bc97b11ebcf0e00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2</ifw:xmlNamespace>
        <ifw:dataType name="BPM2Res" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=BPM2Res~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>8dea1a50b83111eba1c8f19cc0a88d08</ifw:guid>
        <ifw:name>KFC_I_SYSTEM_C01_CALCULATOR, 1 of kfc.com.ec</ifw:name>
      </ifw:swcvinfo>
      <ifw:folder>
        <ifw:guid>03ad4618c97c11ebaed200000046f7c6</ifw:guid>
      </ifw:folder>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_a90d4f7664a83d71a37ec54c4094e608_ifmmessif</name>
        <namespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_BPM2_Sync"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:bpm2">
      <xsd:element name="BPM2Request" type="BPM2Req"/>
      <xsd:element name="BPM2Response" type="BPM2Res"/>
      <xsd:complexType name="BPM2Req">
        <xsd:sequence>
          <xsd:element name="Ciudad" type="xsd:string"/>
          <xsd:element name="log" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BPM2Res">
        <xsd:sequence>
          <xsd:element name="Pais" type="xsd:string"/>
          <xsd:element name="Ciudad" type="xsd:string"/>
          <xsd:element name="Lat" type="xsd:decimal"/>
          <xsd:element name="Lon" type="xsd:decimal"/>
          <xsd:element name="Alt" type="xsd:decimal"/>
          <xsd:element name="Temp" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BPM2Request">
    <wsdl:documentation/>
    <wsdl:part element="p1:BPM2Request" name="BPM2Request"/>
  </wsdl:message>
  <wsdl:message name="BPM2Response">
    <wsdl:documentation/>
    <wsdl:part element="p1:BPM2Response" name="BPM2Response"/>
  </wsdl:message>
  <wsdl:portType name="BPM2_In">
    <wsdl:documentation/>
    <wsdl:operation name="BPM2_Sync">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_BPM2_Sync"/>
      </wsp:Policy>
      <wsdl:input message="p1:BPM2Request"/>
      <wsdl:output message="p1:BPM2Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPM2_InBinding" type="p1:BPM2_In">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BPM2_Sync">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
