demo.sap.com/testcurs/_comp/src/wsdl/Calc_Out.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Calc_Out" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>8c116563c01011ebbeb000000046f7c6</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="administrator"/>
      <changed by="administrator" on="1622246401813"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="33c3c12288fc3a5ca66e4e3695b16a7d"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="Calc_Sync">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="CalcResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">CalcResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2</ifw:technicalNamespace>
        <ifw:VersionID>71aaa2f2c01011ebb83c00000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2</ifw:xmlNamespace>
        <ifw:dataType name="CalcRes" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=CalcRes~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
      <ifw:message name="CalcRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">CalcRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2</ifw:technicalNamespace>
        <ifw:VersionID>6221f360c01011ebcf5700000046f7c6</ifw:VersionID>
        <ifw:xmlNamespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2</ifw:xmlNamespace>
        <ifw:dataType name="CalcReq" namespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2" swcvId="8dea1a50b83111eba1c8f19cc0a88d08" uri="name=CalcReq~namespace=urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2~swcvId=8dea1a50b83111eba1c8f19cc0a88d08"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>8dea1a50b83111eba1c8f19cc0a88d08</ifw:guid>
        <ifw:name>KFC_I_SYSTEM_C01_CALCULATOR, 1 of kfc.com.ec</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_33c3c12288fc3a5ca66e4e3695b16a7d_ifmmessif</name>
        <namespace>urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_Calc_Sync"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:calculator2">
      <xsd:element name="CalcResponse" type="CalcRes"/>
      <xsd:element name="CalcRequest" type="CalcReq"/>
      <xsd:complexType name="CalcRes">
        <xsd:sequence>
          <xsd:element name="Resultado" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CalcReq">
        <xsd:sequence>
          <xsd:element name="oper1" type="xsd:integer"/>
          <xsd:element name="oper2" type="xsd:integer"/>
          <xsd:element name="operacion">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalcRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:CalcRequest" name="CalcRequest"/>
  </wsdl:message>
  <wsdl:message name="CalcResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:CalcResponse" name="CalcResponse"/>
  </wsdl:message>
  <wsdl:portType name="Calc_Out">
    <wsdl:documentation/>
    <wsdl:operation name="Calc_Sync">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_Calc_Sync"/>
      </wsp:Policy>
      <wsdl:input message="p1:CalcRequest"/>
      <wsdl:output message="p1:CalcResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Calc_OutBinding" type="p1:Calc_Out">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Calc_Sync">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
