demo.sap.com/logic/_comp/src/wsdl/TestRules.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:file" xmlns="urn:KFC_I_SYSTEM_C01_CALCULATOR:test:file" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="TestRules" type="TestRules"/><xsd:complexType name="TestRules"><xsd:sequence><xsd:element name="Condicion1" type="xsd:string"/><xsd:element name="Condicion2" type="xsd:string"/><xsd:element name="Resultadp" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:schema>